{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="section">
    <div class="section-header">
      <h1>Change Password</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">Change Password</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Change Password</h2>
      <p class="section-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis et velit recusandae ea incidunt non quo quod culpa vel voluptatem commodi enim aspernatur quis libero distinctio, voluptatibus beatae iure accusamus!</p>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Advanced Table</h4>

            </div>
            <div class="card-body p-3">
              <form action="" method='post'>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
