<ul class="sidebar-menu">
    <li class="menu-header">Dashboard</li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="">General Dashboard</a>
        </li>
        <li>
          <a class="nav-link" href="">Ecommerce Dashboard</a>
        </li>
      </ul>
    </li>
    <li class="menu-header">Starter</li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Layout</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="">Default Layout</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nav-link" href=""><i class="far fa-square"></i> <span>Blank Page</span></a>
    </li>
    <li class="menu-header">Pages</li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
      <ul class="dropdown-menu">
        <li>
          <a href="">Forgot Password</a>
        </li>
        <li>
          <a href="">Login</a>
        </li>
        <li>
          <a href="">Login 2</a>
        </li>
        <li>
          <a href="">Register</a>
        </li>
        <li>
          <a href="">Reset Password</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="">503</a>
        </li>
        <li>
          <a class="nav-link" href="">403</a>
        </li>
        <li>
          <a class="nav-link" href=""">404</a>
        </li>
        <li>
          <a class="nav-link" href="">500</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
      <ul class="dropdown-menu">
        <li>
          <a class="nav-link" href="">Activities</a>
        </li>
        <!-- Other Features items removed for brevity -->
      </ul>
    </li>
    <li>
      <a class="nav-link" href=""><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a>
    </li>
  </ul>
  <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
    <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split"><i class="fas fa-rocket"></i> Documentation</a>
  </div>